/*Tooltip*/
[data-tooltip]:hover:after, [data-tooltip]:has(:focus):after
{
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-tooltip]:after
{
    content: attr(data-tooltip);
    font-size: 0.7em;
    color: black;
    white-space: pre-line;
    background-color: white;
    border-radius: 10px;
    padding: 10px 14px;
    margin: 0 auto;
    box-shadow: inset 0 0 2px black;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    z-index: 9998;
    max-width: max(300px, 90%);
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%);
}

[data-tooltip]
{
    position: relative;
    border-bottom: 1px dotted black;
}