@import '_content/KASV.Blazor.Library/KASV.Blazor.Library.wwogm1p5eh.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
header[b-eqo69h9tk4]
{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

nav > ul[b-eqo69h9tk4]
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;


    li > a
    {
        display: inline-block;
        font-size: 0.9em;
        white-space: nowrap;
        padding: 1em 2em;
        background: #2a2f33;
        border-radius: 8px;
        transition: all 300ms ease-in-out;

        &:hover
        {
            background: #3c4347;
            text-decoration: none;
        }
    }
}


#settings[b-eqo69h9tk4]
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}
/* /Pages/Gallery.razor.rz.scp.css */
#gallery[b-kgodye5dwk]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
/* /Pages/Index.razor.rz.scp.css */
section[b-i4l905nfm0]
{
    font-family: "Jersey 10", sans-serif;
    font-size: 3em;
    letter-spacing: 4px;
    text-align: center;

    display: block;
    margin: 25% auto;
    width: fit-content;
}
/* /Pages/PrintAdmissionForm.razor.rz.scp.css */
