@import '_content/KASV.Blazor.Library/KASV.Blazor.Library.bgg2mgjksk.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
header[b-eqo69h9tk4]
{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

nav > ul[b-eqo69h9tk4]
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;


    li > a
    {
        display: inline-block;
        font-size: 0.9em;
        white-space: nowrap;
        padding: 1em 2em;
        background: var(--nav-button-color);
        border-radius: 8px;
        transition: all 300ms ease-in-out;

        &:hover
        {
            background: var(--button-hover-color);
            text-decoration: none;
        }

        [b-eqo69h9tk4] &.active
        {
            background: var(--button-hover-color);
        }
    }
}


#settings[b-eqo69h9tk4]
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}
/* /Pages/Gallery.razor.rz.scp.css */
#gallery[b-kgodye5dwk]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vh;
    column-gap: 1vw;
    margin: 2vw;
}

#overlay-image[b-kgodye5dwk]
{
    display: block;
    margin: 0 auto;
    max-height: 80vh;
    max-width: 90vw;
}

#overlay-image-description[b-kgodye5dwk]
{
    text-align: center;
    margin-top: 10px;
}
/* /Pages/Index.razor.rz.scp.css */
section[b-i4l905nfm0]
{
    font-family: "Jersey 10", sans-serif;
    font-size: 3em;
    letter-spacing: 4px;
    text-align: center;

    display: block;
    margin: 25% auto;
    width: fit-content;
}
/* /Pages/Partners.razor.rz.scp.css */
section[b-93w17cbj8w]
{
    background-color: transparent;
}

    section h1[b-93w17cbj8w]
    {
        display: block;
        margin: 80px 0 20px 0;
        text-align: center;
        font-size: 60px;
        color: var(--color-text-normal);
        transition: color 0.3s;
    }


.firmy-list[b-93w17cbj8w]
{
    margin: 20px 15px 20px 0;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}

    .firmy-list li[b-93w17cbj8w]
    {
        color: var(--color-text-normal);
        text-decoration: none;
        font-size: 40px;
        border-radius: 15px;
        padding: 10px 15px;
        background-color: var(--nav-button-color);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

        .firmy-list li:hover[b-93w17cbj8w]
        {
            background-color: var(--button-hover-color);
        }

.firma-content[b-93w17cbj8w]
{
    max-width: 900px;
    margin: 20px auto;
    padding: 18px;
    background-color: var(--nav-button-color);
    border-radius: 12px;
    display: none;
    color: var(--color-text-normal);
    font-size: 22px;
    line-height: 1.5;
    transition: background-color 0.3s, color 0.3s;
}
/* /Pages/PrintAdmissionForm.razor.rz.scp.css */
