@import '_content/KASV.Blazor.Library/KASV.Blazor.Library.90rxct88nc.bundle.scp.css';

/* /Pages/Gallery.razor.rz.scp.css */
#gallery[b-kgodye5dwk]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
/* /Pages/PrintAdmissionForm.razor.rz.scp.css */
