@import '_content/KASV.Blazor.Library/KASV.Blazor.Library.my8c3jtpev.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
header[b-eqo69h9tk4]
{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

nav > ul[b-eqo69h9tk4]
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;


    li > a
    {
        display: inline-block;
        font-size: 0.9em;
        white-space: nowrap;
        padding: 1em 2em;
        background: var(--nav-button-color);
        border-radius: 8px;
        transition: all 300ms ease-in-out;

        &:hover
        {
            background: var(--button-hover-color);
            text-decoration: none;
        }

        [b-eqo69h9tk4] &.active
        {
            background: var(--button-hover-color);
        }
    }
}


#settings[b-eqo69h9tk4]
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}
/* /Pages/Contact.razor.rz.scp.css */
.contact[b-wcrlbuxnp9]
{
    position: relative;
    padding-top: 40px;
}

h1[b-wcrlbuxnp9]
{
    font-size: 70px;
    padding-left: 4px;
    position: relative;
    display: inline-block;
}

    h1[b-wcrlbuxnp9]::after
    {
        content: "";
        position: absolute;
        left: 0;
        bottom: -7px;
        height: 2px;
        width: 400%;
        background: #007bff;
    }

.loc[b-wcrlbuxnp9]
{
    position: absolute;
    top: 200px;
    right: 430px;
    background: #007bff;
    padding: 8px 14px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a[b-wcrlbuxnp9]
{
    color: var(--text-color);
    text-decoration: none;
}

    a:hover[b-wcrlbuxnp9]
    {
        text-decoration: underline solid #007bff;
    }

h2[b-wcrlbuxnp9]
{
    margin-top: 18px; /* zdvihne obsah k ?iare */
}

.map[b-wcrlbuxnp9]
{
    position: absolute;
    top: 320px;
    right: 250px;
    width: 600px;
    height: 350px;
    border: 2px solid #007bff;
    border-radius: 6px;
}
/* /Pages/Gallery.razor.rz.scp.css */
#gallery[b-kgodye5dwk]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vh;
    column-gap: 1vw;
    margin: 2vw;
}

#overlay-carousel[b-kgodye5dwk]
{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#overlay-footer[b-kgodye5dwk]
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.overlay-carousel-button[b-kgodye5dwk]
{
    position: fixed;
    top: 50%;
    left: 5vw;
    color: var(--color-accent-normal);
    background-color: transparent;
    padding: 0;
    margin: 2vw;

    transform: translateY(-50%);
}

#overlay-image[b-kgodye5dwk]
{
    display: block;
    margin: 0 auto;
    max-height: 65vh;
    max-width: 90vw;
}

.overlay-image-description[b-kgodye5dwk]
{
    text-align: center;
    margin-top: 10px;
}
/* /Pages/Index.razor.rz.scp.css */
section[b-i4l905nfm0]
{
    font-family: "Jersey 10", sans-serif;
    font-size: 3em;
    letter-spacing: 4px;
    text-align: center;

    display: block;
    margin: 25% auto;
    width: fit-content;
}
/* /Pages/Partners.razor.rz.scp.css */
section[b-93w17cbj8w]
{
    background-color: transparent;
}

    section h1[b-93w17cbj8w]
    {
        display: block;
        margin: 50px 0 20px 0;
        text-align: center;
        font-size: 60px;
        color: var(--text-color);
        transition: color 0.3s;
    }

.firmy-list[b-93w17cbj8w]
{
    margin: 20px 15px 20px 0;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}

    .firmy-list li[b-93w17cbj8w]
    {
        color: var(--text-color);
        text-decoration: none;
        font-size: 40px;
        border-radius: 15px;
        padding: 10px;
        background-color: var(--nav-button-color);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .firmy-list li:hover[b-93w17cbj8w]
        {
            background-color: var(--button-hover-color);
        }

ul li img[b-93w17cbj8w]
{
    width: 250px;
}

.hidden[b-93w17cbj8w]
{
    display: none;
}

.firma-content[b-93w17cbj8w]
{
    max-width: 900px;
    margin: 20px auto;
    padding: 18px;
    background-color: var(--nav-button-color);
    border-radius: 12px;
    display: none;
    color: var(--text-color);
    font-size: 22px;
    line-height: 1.5;
    transition: background-color 0.3s, color 0.3s;
    height: 400px;

    .people-card .about
    {
        margin: 0;
        width: 350px;
        font-size: 18px;
        text-align: center;
        overflow-y: auto;
    }

    .people-card .firm[b-93w17cbj8w]
    {
        margin: 0;
        font-weight: 100;
        text-decoration: underline;
        text-align: center;
    }

    .people-card .guy-name[b-93w17cbj8w]
    {
        margin: 0;
        font-weight: 300;
    }

    .people-card .photo[b-93w17cbj8w]
    {
        width: 80px;
        border-radius: 50%;
    }

    .people-card[b-93w17cbj8w]
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        position: relative;
        width: 400px;
        height: 350px;
        top: -100px;
        left: 500px;
        background-color: var(--button-hover-color);
        border-radius: 20px;
        border: 2px solid var(--nav-bar-color);
    }

    .firma-text[b-93w17cbj8w]
    {
        width: 400px;
        height: 300px;
        font-size: 20px;
        position: relative;
        top: -350px;
    }

    .firma-logo[b-93w17cbj8w]
    {
        min-width: 250px;
        max-width: 250px;
        min-height: 110px;
        max-height: 110px;
    }
/* /Pages/PrintAdmissionForm.razor.rz.scp.css */
/* /Pages/Studies.razor.rz.scp.css */
section[b-iqlkguo2dr]
{
    display: flex;
    height: 100%;
}

    section h1[b-iqlkguo2dr]
    {
        display: block;
        margin: 50px 0 0 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
    }

    section .ClassInfo[b-iqlkguo2dr]
    {
        display: block;
        text-align: center;
        margin: 20px auto;
        font-size: 20px;
        padding: 0 200px 0 200px;
    }
