@import '_content/KASV.Blazor.Library/KASV.Blazor.Library.e3mqeqo6k9.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
header[b-eqo69h9tk4]
{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

nav > ul[b-eqo69h9tk4]
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;


    li > a
    {
        display: inline-block;
        font-size: 0.9em;
        white-space: nowrap;
        padding: 1em 2em;
        background: var(--nav-button-color);
        border-radius: 8px;
        transition: all 300ms ease-in-out;

        &:hover
        {
            background: var(--button-hover-color);
            text-decoration: none;
        }

        [b-eqo69h9tk4] &.active
        {
            background: var(--button-hover-color);
        }
    }
}


#settings[b-eqo69h9tk4]
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}
/* /Layout/PresentationLayout.razor.rz.scp.css */
*[b-fw6dmgdaxu]
{
    box-sizing: border-box;
    user-select: none;
}

#presentation[b-fw6dmgdaxu]
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

header[b-fw6dmgdaxu]
{
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 10vh;
    padding: 10px 20px;
    font-size: 3vh;
    background-color: var(--color-accent-normal);
    cursor: pointer;

    div
    {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        img
        {
            height: 100%;
        }
    }

    h1[b-fw6dmgdaxu]
    {
        margin: 0;
    }
}

[b-fw6dmgdaxu] header > div > svg
{
    width: auto;
}

main[b-fw6dmgdaxu]
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
/*    margin: 1%;*/
    font-size: 1.5em;
    background-color: var(--color-background-normal);
    overflow: hidden;
}

footer[b-fw6dmgdaxu]
{
    display: flex;
    justify-content: space-between;

    padding: 5px 20px;
    background-color: var(--color-accent-dark);

    a
    {
        color: white;
        text-decoration: none;
    }
}

.out-of-time[b-fw6dmgdaxu]
{
    animation: out-of-time-animation-b-fw6dmgdaxu 1s ease-in-out alternate infinite;
}

@keyframes out-of-time-animation-b-fw6dmgdaxu
{
    0%
    {
        color: white;
    }

    100%
    {
        color: red;
    }
}
/* /Pages/Contact.razor.rz.scp.css */

h1[b-wcrlbuxnp9]
{
    font-size: 80px;
}

/* .loc {
  position: absolute;
  top: 200px;
  right: 430px;
  background: #007bff;
  padding: 8px 14px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-top: 4.5rem;
} */

a[b-wcrlbuxnp9]
{
    color: var(--text-color);
    text-decoration: none;
}

    a:hover[b-wcrlbuxnp9]
    {
        text-decoration: underline solid #007bff;
    }

h2[b-wcrlbuxnp9]
{
    margin-top: 18px;
    margin-bottom: 0;
    text-decoration: underline;
}

.mapa-box[b-wcrlbuxnp9]
{
    display: flex;
    flex-direction: column;
    align-items: center;

    .map
    {
        width: 600px;
        height: 350px;
        border: 2px solid #0751f1;
        border-radius: 10px;
    }

    h2[b-wcrlbuxnp9]
    {
        font-size: 80px;
        display: flex;
    }
}

.left-info[b-wcrlbuxnp9]
{
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.contact h1[b-wcrlbuxnp9]
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.all-contact[b-wcrlbuxnp9]
{
    border: 2px solid #30363a;
    border-radius: 50px;
    background-color: #30363a;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 35em;
    margin-inline: 2em;
    justify-content: space-around;
}
/* /Pages/Gallery.razor.rz.scp.css */
#gallery[b-kgodye5dwk]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vh;
    column-gap: 1vw;
    margin: 2vw;
}

#overlay-carousel[b-kgodye5dwk]
{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#overlay-footer[b-kgodye5dwk]
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.overlay-carousel-button[b-kgodye5dwk]
{
    position: fixed;
    top: 50%;
    left: 5vw;
    color: var(--color-accent-normal);
    background-color: transparent;
    padding: 0;
    margin: 2vw;

    transform: translateY(-50%);
}

#overlay-image[b-kgodye5dwk]
{
    display: block;
    margin: 0 auto;
    max-height: 65vh;
    max-width: 90vw;
}

.overlay-image-description[b-kgodye5dwk]
{
    text-align: center;
    margin-top: 10px;
}
/* /Pages/Index.razor.rz.scp.css */
section[b-i4l905nfm0]
{
    font-family: "Jersey 10", sans-serif;
    font-size: 3em;
    letter-spacing: 4px;
    text-align: center;

    display: block;
    margin: 25% auto;
    width: fit-content;
}
/* /Pages/Partners.razor.rz.scp.css */
section[b-93w17cbj8w]
{
    background-color: transparent;
}

    section h1[b-93w17cbj8w]
    {
        display: block;
        margin: 50px 0 20px 0;
        text-align: center;
        font-size: 60px;
        color: var(--text-color);
        transition: color 0.3s;
    }

.firmy-list[b-93w17cbj8w]
{
    margin: 20px 15px 20px 0;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}

    .firmy-list li[b-93w17cbj8w]
    {
        color: var(--text-color);
        text-decoration: none;
        font-size: 40px;
        border-radius: 15px;
        padding: 10px;
        background-color: var(--nav-button-color);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 150px;
        min-height: 150px;
    }

        .firmy-list li:hover[b-93w17cbj8w]
        {
            background-color: var(--button-hover-color);
        }

ul li img[b-93w17cbj8w]
{
    max-width: 250px;
    max-height: 110px;
}

.telekomLogo[b-93w17cbj8w]
{
    max-width: 150px;
    max-height: 150px;
}

.firma-details .firma-logo-td[b-93w17cbj8w]
{
    max-width: 150px;
    max-height: 110px;
}

.hidden[b-93w17cbj8w]
{
    display: none;
}

.firma-content[b-93w17cbj8w]
{
    max-width: 900px;
    margin: 20px auto;
    padding: 18px;
    background-color: var(--nav-button-color);
    border-radius: 12px;
    color: var(--text-color);
    font-size: 22px;
    line-height: 1.5;
    transition: background-color 0.3s, color 0.3s;
    height: 400px;
    display: flex;

    .people-card .about
    {
        margin: 0;
        width: 350px;
        font-size: 18px;
        text-align: center;
        overflow-y: auto;
        display: flex;
    }

    .people-card .firm[b-93w17cbj8w]
    {
        margin: 0;
        font-weight: 100;
        text-decoration: underline;
        text-align: center;
    }

    .people-card .guy-name[b-93w17cbj8w]
    {
        margin: 0;
        font-weight: 300;
    }

    .people-card .photo[b-93w17cbj8w]
    {
        max-width: 80px;
        border-radius: 50%;
    }

    .people-card[b-93w17cbj8w]
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        position: relative;
        width: 400px;
        height: 400px;
        top: -120px;
        left: 500px;
        background-color: var(--button-hover-color);
        border-radius: 20px;
        border: 2px solid var(--nav-bar-color);
    }

    .firma-text[b-93w17cbj8w]
    {
        width: 400px;
        height: 300px;
        font-size: 20px;
        position: relative;
        top: -380px;
    }

    .container-logo[b-93w17cbj8w]
    {
        max-width: 250px;
        height: 120px;
        display: flex;
        align-items: center;

        .firma-logo
        {
            max-height: 110px;
            max-width: 250px;
            overflow: hidden;
        }
    }
}
/* /Pages/Presentation/Demo.razor.rz.scp.css */
section[b-rkr1qfyk8w]
{
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-size: 16px;
}
/* /Pages/Presentation/Goals.razor.rz.scp.css */
li[b-tmfvzw6443]
{
    font-size: 2em;
}
/* /Pages/Presentation/Intro.razor.rz.scp.css */
section[b-weu04yax3k]
{
    display: flex;
    align-items: center;
}

h1[b-weu04yax3k]
{
    font-size: 5em;
    margin: 0 40px;
}

aside[b-weu04yax3k]
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    img
    {
        height: auto;
    }

    a[b-weu04yax3k]
    {
        flex-shrink: 0;
    }
}
/* /Pages/Presentation/Outro.razor.rz.scp.css */
/* /Pages/Presentation/PresentationIndex.razor.rz.scp.css */
section[b-h0yepzkxdc]
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    text-align: center;
    padding: 0 1em;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-accent-normal);
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

h1[b-h0yepzkxdc], h2[b-h0yepzkxdc]
{
    font-family: "Doto";
    font-weight: bold;
    margin: 0 0 10px 0;
}

h2[b-h0yepzkxdc]
{
    margin: 0;
    font-size: 0.8em;
    width: 70%;
}
/* /Pages/Presentation/QuestionsAndAnswers.razor.rz.scp.css */
/* /Pages/Presentation/Team.razor.rz.scp.css */
ul[b-pqz7fqjo3b]
{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 1em;
}

li[b-pqz7fqjo3b]
{
    display: block;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #00000027;
}

.name[b-pqz7fqjo3b]
{
    font-family: "Doto";
    font-size: 1.3em;
    font-weight: bold;
}

.role[b-pqz7fqjo3b]
{

}
/* /Pages/Presentation/Technologies.razor.rz.scp.css */
#technologies[b-p1iar1hb5y]
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 50px;
    row-gap: 20px;
    font-size: 1.0em;
}

.technology-category[b-p1iar1hb5y]
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-category-name[b-p1iar1hb5y]
{
    max-width: 250px;
    text-align: center;
    margin: 0 0 10px 0;
}

.technology-category-logos[b-p1iar1hb5y]
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.technology[b-p1iar1hb5y]
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-name[b-p1iar1hb5y]
{
    max-width: 200px;
    text-align: center;
}

.technology-logo[b-p1iar1hb5y]
{
    height: 8vh;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #7575753B;
}
/* /Pages/PrintAdmissionForm.razor.rz.scp.css */
/* /Pages/Studies.razor.rz.scp.css */
section[b-iqlkguo2dr]
{
    display: flex;
    height: 100%;
}

    section h1[b-iqlkguo2dr]
    {
        display: block;
        margin: 50px 0 0 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
    }

    section .ClassInfo[b-iqlkguo2dr]
    {
        display: block;
        text-align: center;
        margin: 20px auto;
        font-size: 20px;
        padding: 0 200px 0 200px;
    }
