/*Variables for Dark theme*/

:root
{
    --color-background-normal: #272727;
    --color-background-dark: #202020;
    --color-text-normal: white;


    /*Sebastian's*/
    --base-color: #181A1B;
    --text-color: white;
    --nav-button-color: #2a2f33;
    --button-hover-color: #3c4347;
    --nav-bar-color: #0751f1;
}
