/*Variables for Light theme*/

:root
{
    --color-background-normal: white;
    --color-text-normal: #272727;

    --nav-button-color: #c4c7ca;
    --button-hover-color: #9d9ea0;



    /*Sebastian's*/
    --base-color: white;
    --text-color: #181A1B;
    /* --nav-button-color: #454a4e;
    --button-hover-color: #61666b; */
    --nav-button-color: #c4c7ca;
    --button-hover-color: #9d9ea0;

}
