/*Global style*/

html
{
    font-family: "Google Sans Code";
    color: var(--color-text-normal);
    background-color: var(--color-background-normal);
}

h1, h2, h3, h4, h5, h6 /*, label*/
{
    font-family: "Jersey 10", "Doto", sans-serif;
    /*    font-weight: bold;*/
    font-weight: 300;
}

button, input[type=button], input[type=submit]
{
    color: white;
    padding: 1em 2em;
    background-color: var(--color-accent-normal);
    border: none;
    transition: all ease-in 200ms;
    cursor: pointer;
}

    button:hover, input[type=button]:hover, input[type=submit]:hover
    {
        background-color: var(--color-accent-light);
        transform: scale(1.1);
        box-shadow: 0px 0px 10px 5px var(--color-accent-normal);
    }

    button:active, input[type=button]:active, input[type=submit]:active
    {
        background-color: var(--color-accent-dark);
        box-shadow: 0 0 0.3em 0.2em hsla(0, 0%, 0%, 0.6) inset;
        transform: scale(0.9);
    }

.button-transparent
{
    background-color: transparent;

    &:hover
    {
        background-color: hsla(0,0%,80%,0.20);
    }

    &:active
    {
        background-color: hsla(0,0%,20%,0.20);
    }
}

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=date]
{
    padding: 5px;
}

a
{
    text-decoration: none;
}

    a:link, a:visited
    {
        color: var(--color-accent-normal);
    }

    a:hover
    {
        text-decoration: underline;
    }

hr
{
    color: var(--color-accent-normal);
    margin: 20px 0;
}

/*For printing admission form*/
@page
{
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding: 2cm 1cm;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.print-only
{
    display: none !important;
}

@media print
{
    html, body
    {
        visibility: hidden !important;
        background: white !important;
    }

    *
    {
        color: black !important;
        font-family: sans-serif !important;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }

    .print-only, .print
    {
        display: unset !important;
        visibility: visible !important;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
    }
}
