/*Global style*/

body
{
    font-family: "Google Sans Code";
    color: var(--color-text-normal);
    background-color: var(--color-background-normal);
}

h1, h2, h3, h4, h5, h6/*, label*/
{
    font-family: "Doto";
    font-weight: bold;
}

button, input[type=button], input[type=submit]
{
    color: white;
    padding: 10px 20px;
    background-color: var(--color-accent-normal);
    border: none;
    transition: all ease-in 200ms;
    cursor: pointer;
}

    button:hover, input[type=button]:hover, input[type=submit]:hover
    {
        background-color: var(--color-accent-light);
        transform: scale(1.1);
    }

    button:active, input[type=button]:active, input[type=submit]:active
    {
        background-color: var(--color-accent-dark);
        transform: scale(0.9);
    }

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=date]
{
    padding: 5px;
}

a
{
    text-decoration: none;
}

    a:link, a:visited
    {
        color: var(--color-accent-normal);
    }

    a:hover
    {
        text-decoration: underline;
    }

/*For printing admission form*/
@page
{
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding: 2cm 1cm;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print
{
    html, body
    {
        background: white !important;
    }

    *
    {
        color: black !important;
        font-family: sans-serif !important;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }
}
