body
{
    font-family: "Google Sans Code";
    color: var(--color-text-normal);
    background-color: var(--color-background-normal);
}

button
{
    color: white;
    padding: 10px 20px;
    background-color: var(--color-accent-normal);
    border: none;
}

a
{
    text-decoration: none;
}

    a:link, a:visited
    {
        color: var(--color-accent-normal);
    }

    a:hover
    {
        text-decoration: underline;
    }