/* _content/KASV.Blazor.Library/Components/AdmissionFormDocument.razor.rz.scp.css */
#form[b-34g9gbs104]
{
/*    position: relative;*/
    display: block;
    width: 21cm;
/*    height: 29.7cm;*/
    margin: 0 auto;
}

section:not(:last-of-type)[b-34g9gbs104]
{
    margin-bottom: 30px;
}

header[b-34g9gbs104], footer[b-34g9gbs104]
{
    text-align: center;
}

header[b-34g9gbs104]
{
    margin-bottom: 20px;
}

    header > h1[b-34g9gbs104]
    {
        text-transform: uppercase;
    }

h1[b-34g9gbs104], h2[b-34g9gbs104]
{
    margin: 0;
}

table[b-34g9gbs104]
{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table[b-34g9gbs104], th[b-34g9gbs104], td[b-34g9gbs104]
{
    border: 1px solid;
}

th[b-34g9gbs104]
{
    max-width: 200px;
}

th[b-34g9gbs104], td[b-34g9gbs104]
{
    padding: 5px;
}

#student-section > table[b-34g9gbs104]
{
    
}

.section-footer[b-34g9gbs104]
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#datetime[b-34g9gbs104], #signature[b-34g9gbs104]
{
    border-bottom: 1px dotted;
    height: 50px;
    width: 300px;

    & + div
    {
        text-align: center;
        margin-top: 10px;
    }
}

.underline[b-34g9gbs104]
{
    display: inline-block;
    width: 100px;
    border-bottom: 1px dotted;
}

#doctor-section > div[b-34g9gbs104], #principal-section > div[b-34g9gbs104]
{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid;
    padding: 20px;
}

#doctor-section > div[b-34g9gbs104]
{
    height: 180px;
}

#principal-section > div[b-34g9gbs104]
{
/*    height: 150px;*/
}

footer[b-34g9gbs104]
{
    /*position: absolute;
    bottom: 0;
    left: 15%;*/

    margin-top: 20px;
}

button[b-34g9gbs104]
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 15px;
    font-size: 2em;
    border-radius: 100%;
}
/* _content/KASV.Blazor.Library/Components/CultureSelect.razor.rz.scp.css */
div[b-ph2p29qqzq]
{
    white-space: nowrap;
}
/* _content/KASV.Blazor.Library/Components/GalleryTile.razor.rz.scp.css */
button[b-lk87by50bq]
{
    position: relative;
    padding: 0;
    height: 25vh;
    width: 35vh;
    background-color: transparent;
    cursor: zoom-in;
    overflow: hidden;

    &::after
    {
        content: attr(data-title);
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        /*background-color: var(--color-accent-normal);*/
        background: linear-gradient(var(--color-accent-normal), var(--color-accent-dark));
        transition: all 300ms ease-in-out;
    }

    &:hover[b-lk87by50bq]::after
    {
        bottom: 0;
    }
}

    button > img[b-lk87by50bq]
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
/* _content/KASV.Blazor.Library/Components/Header.razor.rz.scp.css */
header[b-tnolfik0je]
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 0 15px;
    /*    background-color: var(--color-accent-normal);*/
    background: linear-gradient(var(--color-accent-normal), var(--color-accent-dark));
}

#logo[b-tnolfik0je], #settings[b-tnolfik0je]
{
    flex-basis: 1;
    flex-grow: 1;
}

nav[b-tnolfik0je]
{
    flex-grow: 8;
}


    nav > ul[b-tnolfik0je]
    {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /*column-gap: 10px;*/
        /*row-gap: 10px;*/
        margin: 0;
        padding: 0;

        li
        {
            flex-grow: 1;

            a
            {
                box-sizing: border-box;
                display: inline-block;
                width: 100%;
                padding: 1.2em 2em;
                font-family: "Doto";
                font-size: 1em;
                font-weight: 900;
                text-align: center;
                white-space: nowrap;
                color: white;
                transition: all 300ms ease-in-out;
                text-decoration: none;

                &:hover
                {
                    background-color: hsla(0,0%,0%,0.20);
                }

                [b-tnolfik0je] &:active
                {
                    box-shadow: 0 0 10px 5px hsla(0,0%,0%,0.20) inset;
                }

                [b-tnolfik0je] &.active
                {
                    background-color: hsla(0,0%,100%,0.20);
                }
            }

            &:not(:last-of-type)[b-tnolfik0je]:after
            {
                content: "";
                font-size: 2em;
                vertical-align: middle;
                border-right: 1px solid white;
            }
        }
    }

#settings[b-tnolfik0je]
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    font-size: 1.5em;
}


#navigation-hamburger[b-tnolfik0je]
{
    display: none;
    margin: 0 auto;
    background-color: transparent;
}

@media(max-width: 600px)
{
    header.open[b-tnolfik0je]
    {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        cursor: pointer;

        nav > ul
        {
            display: block;
        }

        #navigation-hamburger[b-tnolfik0je]
        {
            display: none;
        }
    }

    nav > ul li:not(:last-of-type)[b-tnolfik0je]:after
    {
        display: block;
        width: 80%;
        margin: 5px auto !important;
        border-right: unset !important;
        border-bottom: 1px solid white;
    }

    #navigation-hamburger[b-tnolfik0je]
    {
        display: block;
    }

    nav > ul[b-tnolfik0je]
    {
        flex-direction: column;
        display: none;
    }
}
/* _content/KASV.Blazor.Library/Components/Logo.razor.rz.scp.css */
svg[b-07ulxgsgty]
{
    display: block;
    margin: 0 auto;
}
/* _content/KASV.Blazor.Library/Components/MaterialSymbol.razor.rz.scp.css */
span[b-gla9kip7yt]
{
    font-size: 1em;
    vertical-align: middle;
/*    line-height: 1em;*/
}
/* _content/KASV.Blazor.Library/Components/Overlay.razor.rz.scp.css */
#overlay[b-o216jx0b08]
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    z-index: 9999;

    &.active
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#overlay-background[b-o216jx0b08]
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    z-index: -1;
}

#overlay-content[b-o216jx0b08]
{
    /*position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;*/
}

#overlay-button[b-o216jx0b08]
{
    position: fixed;
    top: 1.5vh;
    right: 1.5vw;
    padding: 0;
    color: var(--color-primary-normal);
    background-color: transparent;
}
/* _content/KASV.Blazor.Library/Components/SlovakAdmissionForm.razor.rz.scp.css */
form[b-crie6yk1wf]
{
    max-width: 30em;
    margin: 0 auto;
    padding: 10px;
}

input:user-invalid[b-crie6yk1wf]
{
    border: 2px solid red;
}

label[b-crie6yk1wf]
{
    display: block;
    font-size: 0.8em;
}

label:has(+ input:required)[b-crie6yk1wf]:after
{
    content: " *";
    color: red;
    font-size: 0.8em;
}

section:not(:last-of-type)[b-crie6yk1wf]
{

}



.row[b-crie6yk1wf]
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}

    .row[b-crie6yk1wf]/*:not(:last-of-type)*/
    {
        margin-bottom: 20px;
    }

    .input-container[b-crie6yk1wf]
    {
    }

#PersonalNumberId[b-crie6yk1wf]
{
    width: 4em;
}

#StreetNumber[b-crie6yk1wf]
{
    width: 4em;
}

#PostalCode[b-crie6yk1wf]
{
    width: 6em;
}

div:has(> #Email)[b-crie6yk1wf], div:has(> #PhoneNumber)[b-crie6yk1wf]
{
/*    width: 40%;*/
}

#Email[b-crie6yk1wf], #PhoneNumber[b-crie6yk1wf]
{
/*    width: 80%;*/
}

#School[b-crie6yk1wf]
{
    width: 95%;
}

input[type="submit"][b-crie6yk1wf], button[b-crie6yk1wf]
{
    display: block;
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 40px auto;
}
/* _content/KASV.Blazor.Library/Components/ThemeSwitch.razor.rz.scp.css */
button[b-ki9i8zwf9f]
{
    font-size: 1em;
    padding: 0.5em;
    line-height: 1;
    background-color: transparent;
}
