/* _content/KASV.Blazor.Library/Components/Header.razor.rz.scp.css */
h1[b-tnolfik0je]
{
    font-family: "Doto";
}
/* _content/KASV.Blazor.Library/Components/Logo.razor.rz.scp.css */
#logo[b-07ulxgsgty]
{
/*    fill: black;*/
}
